<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GMonitor</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/gmonitor.css">

    <script type="text/html" id="functions_table_template">
        <table class="table table-bordered table-striped table-condensed" style="width: auto" id="functions_table">
            <thead>
            <tr>
                <th colspan="5" class="title">
                    <b>Functions on Gearman Job server</b>
                </th>
            </tr>
            <tr>
                <th style="width: auto; margin-left: 5px; margin-right: 5px;">Queue Name</th>
                <th title="messages_ready">Wait</th>
                <th title="messages_unacknowledged">Work</th>
                <th title="consumers">Workers</th>
                <th title="Resel all tasks in queue of this function">
                <span id="reset_all_functions">
                    Reset
                </span>
                </th>
            </tr>
            </thead>
            <tbody id="functions_tbody">
            </tbody>
        </table>
    </script>
    <script type="text/html" id="function_rows">
        <% $.each (rdata, function (index, data) { %>
        <tr>
            <td>  <%= data.name %> </td>
            <td>  <%= data.messages_ready %> </td>
            <td>  <%= data.messages_unacknowledged %> </td>
            <td>  <%= data.consumers %> </td>
            <td class="reset" data-function="<%= data.name %>"><i class="fa fa-times"></i></td>
        </tr>;
        <% }); %>

    </script>


</head>
<body>
<div class="container">

    <div style="float: left" id="functions_table_wrap"></div>
    <div style="float: left; margin-left: 20px;">
        <table class="table table-bordered" style="width: auto;">
            <thead>
            <tr>
                <th style="width: 100px;">Count</th>
                <th>Action</th>
                <th>Worker</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input class="form-control" id="worker_start_count" value="1"></td>
                <td><button class="btn btn-info"  id="worker_add">Add Workers</button></td>
                <td><select class="workers_list form-control" id="worker_start_name"></select> </td>
            </tr>
            <tr>
                <td><input class="form-control" id="worker_set_count_val" value="1"></td>
                <td><button class="btn btn-success" id="worker_set_count">Set Workers Count</button></td>
                <td><select class="workers_list form-control" id="worker_set_count_name"></select> </td>
            </tr>
            <tr>
                <td></td>
                <td><button class="btn btn-danger" id="worker_stop">Stop Workers</button></td>
                <td><select class="workers_list form-control" id="worker_stop_name"></select> </td>
            </tr>
            <tr>
                <td></td>
                <td><button class="btn btn-danger" id="total_reset">Total Reset</button></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="clear: both"></div>
</div>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/gmonitor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
</html>
